.url__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 20vw;
  min-width: 20rem;

  border-radius: 0.5rem;

  background-color: transparent;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

  margin: 0.5rem;
}

.url__card a {
  background-color: var(--highlight-colour);
  border-radius: 0.5rem 0.5rem 0 0;

  align-content: center;

  width: 100%;

  margin: 0;
}

.url__card p {
  margin: 0.25rem 0.5rem;
}

.url__card__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
